.github/**
.vscode/**
.vscode-test/**
test-resources/**
tests/**
test-workspace/**
build/**
images/*.mp4
out/test/**
out/**/*.map
out/**/*.stats.json
out/**/*..analyzer.html
src/**
temp/**
.gitignore
node_modules
vsc-extension-quickstart.md
**/tsconfig.json
**/tsconfig-base.json
**/.gitignore
**/.editorconfig
**/.eslintrc.json
**/.prettierrc.js
**/*.ts
**/*.stats.json
**/*.analyzer.html
**/*.bundle.js.map
**/*.log
**/*.trx
junit.xml
coverage/**
test-results/**
test-reports/**
